:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 245;
  --first-color: hsl(var(--hue-color), 47%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
  --main-color: #915eff;
  --text-color-white: #fff;
  --both-side-padding: 60px;
  --project-section-background-color: #0e0f1f;
  --project-card-background-color: #151030;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #11182d;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 10px 10%;
}
#nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  background-color: #1e293b;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 9999;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 17px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}

#resume-button-1 {
  padding: 12px;
  border: 1px solid #ff004f;
  border-radius: 12px;
}

#resume-button-1:hover {
  background-color: #ff004f;
  color: white;
  border: black;
}

#home {
  display: flex;
}

.home-info {
  width: 100%;
  margin-top: 20%;
  font-size: 30px;
}

.intro-info{
  height: 300px;
}

.home-image {
  width: 100%;
  margin-top: 15%;
  align-items: center;
  text-align: center;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

.home-img {
  width: 70%;
  background-color: #1e293b;
  border-radius: 10%;
}

#resume-button-2{
  width: 150px;
  text-align: center;
  padding: 10px 5px 10px 5px;
  border-radius: 10%;
  background-color: #1e293b;
  font-size: 20px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  cursor: pointer;
}


/* about---------------- */

#about {
  padding: 80px 0;
  color: #ababab;
  /* background-color: #fff; */
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  height: 375px;
  background-color: #1e293b;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}
.about-col-2 > h3 {
  color: #0ea5e9;
}
.about-col-2 > h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: xx-large;
}
.about-col-2 > p {
  font-size: large;
  font-weight: bolder;
  color: #758297;
  line-height: 2rem;
}
.sub-title {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 600;
  color: white;
  padding-bottom: 10px;
}

.tab-title {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #b54769;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* skills */

.skills-container {
  row-gap: 2rem;
  text-align: center;
}
.skills-subtitle {
  margin-bottom: 30px;
}

.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50px;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skills-icon {
  width: 2rem;
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
  border-radius: 10%;
}

.skills-card {
  display: flex;
  align-items: center;
}

.skills-img {
  border-radius: 0.5rem;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--main-color);
  margin-top: var(--mb-2);
  margin-bottom: 50px;
  text-align: center;
  font-size: xx-large;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

#skills{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.skills-data{
  background-color: #1e293b;
}

@media screen and (min-width: 992px) {

  #skills{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  .skills-data{
    background-color: #1e293b;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    text-align: initial;
  }
}

/*===== LAYOUT =====*/
.bd-grid {
  /* max-width: 1024px; */
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* --------projects------- */

.project-card {
  box-shadow: rgba(224, 216, 216, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 50px;
  background-color: #0f172a;
}
.image-container {
  width: 100%;
  height: 400px; /* Adjust to your preferred height */
  overflow: hidden;
  border-radius: 10px;
  position: relative; /* Allows us to absolutely position the image inside */
}

.project-card:nth-child(even) .image-container {
  order: 1;
}

.image-container img {
  width: 100%; /* Make the image take up the full width of the container */
  height: auto; /* Maintain the image's aspect ratio */
  position: absolute; /* Position the image absolutely inside the container */
  top: 0;
  left: 0;
  transition: transform 0.1s; /* Smooth transition for the scrolling effect */
}

.project-date {
  color: #808ea3;
}

.project-description {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
}

.project-description > div {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
.project-description > div > h3 {
  margin-bottom: 20px;
}
.project-description > div > p {
  color: slategray;
  text-align: center;
  line-height: 1.5rem;
}

.project-tech-stack {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.project-tech-stack > div {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  background-color: #1e293b;
}

.project-live-demo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-top: 20px;
}

.project-github-link {
  text-decoration: none;
  color: white;
  font-size: x-large;
}

.project-github-link:hover {
  color: blue;
  transition: 0.5s;
}

.project-deployed-link {
  text-decoration: none;
  color: white;
  font-size: x-large;
}

.project-deployed-link:hover {
  color: blue;
  transition: 0.5s;
}

/*  git hub  */
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

/* contect */

.contact-left {
  flex-basis: 35%;
}

.contact-rigth {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translate(-5px);
}

.btn {
  display: block;
  margin: 40px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contact-rigth form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: white;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  /* font-size: 15px; */
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

/* css for small screen */

nav .fa-solid {
  display: none;
}
/* small screen */
@media only screen and (max-width: 660px) {
  #home {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .home-info {
    width: 100%;
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .home-img {
    width: 90%;
  }

  .header-text {
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  #resume-button-2{
    cursor: pointer;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }
  /* .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  } */

  .row{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-rigth {
    flex-basis: 100%;
  }

  #resume-button-1 {
    padding: 0px;
  }

  #nav-menu {
    position: fixed;
    background-color: #1e293b;
    padding: 20px;
  }
  /* skill list */

  .skill-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  /* project */
  .project-card {
    box-shadow: rgba(224, 216, 216, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 50px;
    background-color: #0f172a;
  }

  .image-container {
    order: 2;
  }

  .project-tech-stack {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
  }

  .project-tech-stack > div {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #1e293b;
  }
  .project-github-link {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }

  .project-deployed-link {
    text-decoration: none;
    color: white;
    font-size: small;
  }
}

/* medium Screen */

@media only screen and (min-width: 661px) and (max-width: 1024px) {
  /* Home */
  #home {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  #header {
    width: 100%;
    height: 100vh;
  }

  #resume-button-2{
    cursor: pointer;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }

  .home-info {
    width: 100%;
    /* font-size: 30px; */
    align-items: center;
    text-align: center;
  }

  .home-img {
    width: 80%;
  }

  .header-text {
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  #role{
    padding-bottom: 30px;
  }

  /* About */
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .project-card {
    box-shadow: rgba(224, 216, 216, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 50px;
    background-color: #0f172a;
  }

  .image-container {
    order: 2;
  }

  .project-tech-stack {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
  }

  .project-tech-stack > div {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #1e293b;
  }
  .project-github-link {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }

  .project-deployed-link {
    text-decoration: none;
    color: white;
    font-size: small;
  }
}

#msg {
  color: #61b752;
  margin-top: -35px;
  display: block;
}

/* github */

.githubcolor {
  color: green;
}

#github {
  padding: 50px 0;
}

#github-stats-card {
  width: 100%;
}
#github-streak-stats {
  width: 100%;
}

#github-top-langs {
  width: 100%;
}

#calendar {
  width: 100%;
  margin-top: 60px;
  padding-bottom: 60px;
}